{% extends 'djangocourse/base.html' %}
{% block content %}
<div class="container">
    <table class="table caption-top">
        <caption>Сообщения</caption>
        <thead>
        <tr>
            <th scope="col">Тема</th>
            <th scope="col">Текст</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.theme}}</td>
            <td>{{object.text}}</td>
            <td>
                <a class="p-1 btn btn-primary" href="{% url 'djangocourse:message_update' object.pk %}">Редактировать</a>
                <a class="p-1 btn btn-danger" href="{% url 'djangocourse:message_delete' object.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}